@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-size: 18px;
  --cell: 40px;
  --border: 2px;
  --board-gap: 300px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.main {
  padding: 40px;
}

.heading-container {
  text-align: center;
}

.main-heading {
  font-size: 3rem;
}

.heading-container {
  padding-bottom: 60px;
}

.boards-container {
  display: flex;
  gap: var(--board-gap);
  justify-content: center;
  padding-bottom: 60px;
}

.board {
  display: inline-grid;
  grid-template-columns: repeat(10, var(--cell));
  grid-template-rows: repeat(10, var(--cell));
  gap: var(--border);
  background-color: black;
  border: var(--border) solid black;
}

.cell {
  background: white;
  cursor: pointer;
}

.cell.ship {
  background: green;
  cursor: auto;
}

.cell.hit {
  background: red;
  cursor: auto;
}

.cell.miss {
  background: grey;
  cursor: auto;
}

.cell.revealed {
  background: rgb(209, 209, 209);
  cursor: auto;
}

.user-container {
  position: relative;
}

.rotation-btn {
  position: absolute;
  border: none;
  background: none;
  font-size: 3rem;
  cursor: pointer;
  right: -60px;
  top: 208px;
}

.boards-container h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 16px;
}

.boards-container {
  transition: transform 0.3s ease-out;
}

.placement .boards-container {
  transform: translateX(calc((var(--border) * 11 + var(--cell) * 10 + var(--board-gap)) / 2));
}

.opponent-container {
  opacity: 1;
  transition: opacity 0.5s;
  transition-delay: 0.2s;
}

.placement .opponent-container {
  opacity: 0;
}

.active-game .boards-container {
  transform: translateX(0);
}

.status-container {
  text-align: center;
}

.status-container h2{
  padding-bottom: 8px;
}
